.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 360px;
  align-items: center;
}

.stepper {
  display: flex;
  align-items: center;
  width: 100%;
}

/* Dots */
.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.dot-inactive {
  background-color: black;
}

.dot-active {
  background-color: red;
}

/* Lines */
.line {
  flex: 1;
  height: 4px;
  margin: 0 4px;
  border-radius: 2px;
}

.line-inactive {
  background-color: gray;
}

.line-active {
  background-color: red;
}

/* Buttons */
.actions {
  display: flex;
  gap: 8px;
}
