#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

input {
  padding: 4px;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  align-items: stretch;
}

.component-container {
  border: 1px solid gray;
  padding: 8px;
  border-radius: 8px;
}
